# docker-compose.yml

services:

  app:
    container_name: gametrackr-app
    build: .

    env_file:
      - ./.env

    ports:
      - "80:5000"

    volumes:
      - .:/app
    depends_on:
      - db

  db:
    container_name: gametrackr-db

    image: mysql:8.0

    ports:
      - "3307:3306"

    volumes:
      - ./mysql-data:/var/lib/mysql

    environment:
      MYSQL_ROOT_PASSWORD: ${DB_ROOT_PASSWORD}
      MYSQL_DATABASE: ${DB_NAME}
      MYSQL_USER: ${DB_USER}
      MYSQL_PASSWORD: ${DB_PASSWORD}